body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #FFFFFF;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5px;
  }

  body>#content {
    padding: 0px 20px 20px 20px !important;
  }
}

body>#content {
  margin: 0px;
  max-width: 768px;
  padding: 10px 40px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

summary {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

/**
 * Links
 */

a {
  color: #0366d6;
  text-decoration: none;
}

a:visited {
  color: #0366d6;
}

a:hover {
  color: #0366d6;
  text-decoration: underline;
}

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}


/**
  * Code blocks
  */

code {
  background-color: rgba(27, 31, 35, .05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  word-wrap: break-word;
  padding: .2em .4em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

pre>code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}


/**
 * Blockquotes
 */

blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}


/**
 * Tables
 */

table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}


/**
 * Others
 */

img {
  max-width: 100%;
}

p {
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #24292e;
}

ul {
  margin-top: 0;
}

li {
  color: #24292e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

li+li {
  margin-top: 0.25em;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #24292e;
}

a:visited {
  color: #0366d6;
}

h1,
h2,
h3 {
  border-bottom: 1px solid #eaecef;
  color: #111;
  /* Darker */
}

code>* {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

/*!
  Theme: GitHub
  Description: Highlight-js port of github.com theme
  Author: github.com
  Maintainer: @SNDST00M, @mjbvz
  Updated: 2021-12-08
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 16px;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: GitHub
  Description: Theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #FFFFFF;
  background: #1F1F1F;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #BC89BD;
}

.hljs-property {
  color: #569cd6;
  /* Rendering bug for process.env.VALUE */
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #DCDCAA;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #9CDCFE;
}

/**
        // Semantic
        RegExp: "#d16969",
        Strings: "#ce9178",
        Chars: "#d7ba7d",
        Types: "#4ec9b0",
        Variables: "#9cdcfe",
        Functions: "#dcdcaa",
        Numbers: "#b5cea8",
        Keywords: "#569cd6",
        FlowControl: "#c586c0",
        Comments: "#505050",
        DocComments: "#608b4e",
        Tags: "#808080",
        Noise: "#404040",
        */

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #ce9178;
}

.hljs-built_in,
.hljs-symbol {
  color: var(--color-prettylights-syntax-variable);
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #608b4e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: var(--color-prettylights-syntax-entity-tag);
}

.hljs-subst {
  color: #4EC9B0;
}

.hljs-section {
  color: var(--color-prettylights-syntax-markup-heading);
  font-weight: bold;
}

.hljs-bullet {
  color: var(--color-prettylights-syntax-markup-list);
}

.hljs-emphasis {
  color: #4EC9B0;
  font-style: italic;
}

.hljs-strong {
  color: #4EC9B0;
  font-weight: bold;
}

.hljs-addition {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.hljs-deletion {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}
